<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devenir prestataire de service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    
    <div class="mx-auto my-5  border rounded-3 " style="width: 400px; padding: 10px;">
        <p class="fs-3">Devenir prestataire de service</p>
        
        <div>
            {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <form method="post">
            {% csrf_token %}
            
            {% for form in edit_service_provider_form %}
              <div class="mb-3">
                {{ form.label_tag }} 
                {{ form }} 
                {% if form.errors %}
                <div>
                  {% for error in form.errors %}
                  <li><strong>{{ error|escape }}</strong></li>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
              {% endfor %}

            <input type="submit" class="btn btn-primary btn-block mb-4" value="Enregistrer"/>

          </form>
    </div>

</body>
</html>
